
body {
  margin: 0;
  display: contents;
}
.principal {
  width: 100%;
  display: flex;
  justify-content: center;
}

.principal:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 99999;
  background-image: url(https://images.unsplash.com/photo-1568489601916-b6dd81cbc0be?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80);
  -webkit-animation: rotating 180s linear infinite;
  -moz-animation: rotating 180s linear infinite;
  -ms-animation: rotating 180s linear infinite;
  -o-animation: rotating 180s linear infinite;
  animation: rotating 180s linear infinite;
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.barraDeNavegacion {
  background-image: linear-gradient(to right, red, yellow);
  padding: 15px;
}

.itemDeNavegacion {
  padding: 10px 20px;
  border: solid 2px darkblue;
  background-image: linear-gradient(darkblue, blue);
  border-radius: 20px;
}

.itemDeNavegacion a {
  color: white;
  text-decoration: none;
}

#contenedorDelJuego {
  height: 600px;
  width: 600px;
  border: 5px solid black;
  border-radius: 10px;
  display: flex;
  background-color: black;
  flex-wrap: wrap;
}

.numero {
  font-family: Arial, Helvetica, sans-serif;
  background-color:teal;
  box-shadow: 0 0 0 1px inset black;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  font-size: 55px;
  line-height: 150px;
  text-align: center;
}

.cuadro-2 { 
  background-color: rgb(255, 71, 194);
}

.cuadro-4 {
  background-color:#0DFFFE;  
}

.cuadro-8 {
  background-color: rgb(143, 120, 206);

}

.cuadro-16 {
  background-color: rgb(248, 236, 66);
}

.cuadro-32 {
  background-color: #0178FF;
}
.cuadro-64 {
  background-color:rgb(40, 175, 22) ;
}
.cuadro-128 {
background-color: rgb(129, 35, 6);
}
 .cuadro-256 {
   background-color:#FF853D ;
 }
 .cuadro-512{
   background-color:rgb(158, 66, 30) ;
 }
 .cuadro-1024{
   background-color: rgba(238, 20, 20, 0.925);
 }
 .cuadro-2048 {
   background-color: rgb(12, 3, 53);
 }
 
