.principal {
  width: 100%;
  display: flex;
  justify-content: center;
}

#contenedorDelJuego {
  height: 600px;
  width: 600px;
  border: 5px solid black;
  display: flex;
  flex-wrap: wrap;
}

.numero {
background-color: orange;
box-shadow: 0 0 0 1px inset black;
width: 150px;
height: 150px;
font-size: 55px;
line-height: 150px;
text-align: center;
}